* {
  background-color: black;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, Geneva, Tahoma;
}

h1 {
  text-align: center;
}

h2 {
  color: rgb(3, 3, 3);
  text-align: center;
}

.hand > img {
  border-radius: 5px;
  width: 300px;
  height: 300px;
  -webkit-user-drag: none;
}

.signs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
  padding: 80px 80px 80px 80px;
}

#status {
  color: gray;
  text-align: center;
}

button {
  height: 35px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #9696962c;
  background-color: white;
  font-size: 25px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
